.privacy-policy-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.privacy-policy-container2 {
  display: none;
}
 
.privacy-policy-container3 {
  display: contents;
}
 
.privacy-policy-container4 {
  display: none;
}
 
.privacy-policy-container5 {
  display: contents;
}
 
.privacy-policy-privacy-logo-wrapper {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.privacy-policy-privacy-nav-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.privacy-policy-privacy-hamburger-line1 {
  width: 24px;
  height: 2px;
  background: var(--color-on-surface);
  transition: all 0.3s var(--animation-curve-primary);
}
 
.privacy-policy-privacy-hamburger-line2 {
  width: 24px;
  height: 2px;
  background: var(--color-on-surface);
  transition: all 0.3s var(--animation-curve-primary);
}
 
.privacy-policy-privacy-hamburger-line3 {
  width: 24px;
  height: 2px;
  background: var(--color-on-surface);
  transition: all 0.3s var(--animation-curve-primary);
}
 
.privacy-policy-services-brand {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-items: center;
  justify-content: center;
}
 
.privacy-policy-text11 {
  color: white;
}
 
.privacy-policy-nav-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.privacy-policy-privacy-edit-hint {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.privacy-policy-privacy-footer-brand {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
@media(max-width: 1600px) {
  .privacy-policy-privacy-scrollable-container {
    width: 778px;
    height: 621px;
  }
  .privacy-policy-text19 {
    font-weight: 700;
  }
}
